.movieCard {
  background-color: #343a40;
  color: whitesmoke;
  min-width: 260px;
  height: 100%;
}

.movieCard .card-header {
  background-color: #5a5e63;
}

.movieCard .card-title {
  cursor: pointer;
  margin-bottom: 0;
}

.movieCard > .card-img-top {
  /* width: 50%;
  margin: auto;
  padding: 20px 0; */
}
