.movieCard {
  background-color: #343a40;
  color: whitesmoke;
  height: 100%;
}

.movieCard .card-header {
  background-color: #5a5e63;
}

.movieCard .card-title {
  cursor: pointer;
  margin-bottom: 0;
}
