.homepage-img {
  background-image: url("pexels-travis-blessing.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.homepage-img h1 {
  font-family: "Sacramento", cursive;
  color: whitesmoke;
  padding: 100px 0;
  /* padding-bottom: 50px; */
  font-size: 10em;
}

.homepage-img a {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 2em;
  color: aquamarine;
  margin: 20px;
}
