.homepage-img {
  background: url("pexels-travis-blessing.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

.homepage-img h1 {
  font-family: "Sacramento", cursive;
  color: whitesmoke;
  padding: 100px 0;
  font-size: 10em;
}

.homepage-img a {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 2em;
  color: aquamarine;
  margin: 20px;
}
